@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.welcome {
  font-size: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
  color: #3437eb;
  font-family: 'Bree Serif', serif;
  margin-bottom: -20%;
}


.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3437eb;
  text-align: center;
  background-image: url('./images/homepage.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Bree Serif', serif;
  margin-top: -25%;
}

.homepage-text {
  background-color: rgba(255, 255, 255, .25);
  text-align: left;
  justify-content: left;
}

.profile-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Bree Serif', serif;
  margin-top: -10%;
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
}

.nav {
  font-family: 'Bree Serif', serif;
  background-color: rgba(0, 128, 85, 0.664);
}

.title {
  font-size: 35px;
}

.profile {
  border: rgb(243, 86, 58);
  border-style: double;
  border-width: 10px;
  width: 100%;
}